---
layout: default
title: Papers
permalink: /papers.html
---

{% for x in site.data.years %}
<p> <h3> {{ x.year }} </h3> </p>
    <ul>
    {% for paper in site.data.papers %}
        {% if paper.year == x.year %}
            <li>
                <p>{{ paper.authors }}, <a href="{{ paper.url }}">{{ paper.title }}</a>, {{ paper.conference }}.
                {% if paper.extra_title %}
                    (<a href="{{ paper.extra_url }}">{{ paper.extra_title }}</a>).
                {% endif %}
                </p>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}
