---
layout: default
title: People
permalink: /people.html
---

<div class="faculties">
    <h3>Faculty</h3>
    {% for faculty in site.data.faculty %}
        <div class="faculty mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <img src="{{ faculty.image }}" width=175px >
            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h4 class="faculty-name">{{ faculty.name }}</h4>
                <p class="faculty-description">
                    {{ faculty.description }}
                </p>
                <p>
                        {% if faculty.home %}
                            <a href="{{ faculty.home }}">&#9675; Website </a>
                        {% endif %}
                        {% if faculty.scholar %}
                            <a href="{{ faculty.scholar }}">&#9675; Scholar </a> 
                        {% endif %}
                        {% if faculty.linkedin %}
                           <a href="{{ faculty.linkedin }}">&#9675; LinkedIn </a>
                        {% endif %}
                        {% if faculty.twitter %}
                            <a href="{{ faculty.twitter }}">&#9675; Twitter </a>
                        {% endif %}
                        {% if faculty.github %}
                            <a href="{{ faculty.github }}">&#9675; Github </a>
                        {% endif %}
                        {% if faculty.bitbucket %}
                            <a href="{{ faculty.bitbucket }}">&#9675; Bitbucket </a>
                        {% endif %}
                </p>
                <!-- <div class="clearfix"></div> -->
            </div>
        </div>
        <hr>
    {% endfor %}
</div>



<div class="current-students">
    <h3>Students</h3>
    <div class="student mdl-grid">
        {% for student in site.data.students %}
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        {% if student.image %}
                            <img src="{{ student.image }}">
                        {% else %}
                            <img src="images/avatar-placeholder.png">
                        {% endif %}
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h4 class="student-name">{{ student.name }}</h4>
                        <p>
                        {% if student.home %}
                            <a href="{{ student.home }}">&#9675; Website </a>
                        {% endif %}
                        {% if student.scholar %}
                            <a href="{{ student.scholar }}">&#9675; Scholar </a> 
                        {% endif %}
                        {% if student.linkedin %}
                           <a href="{{ student.linkedin }}">&#9675; LinkedIn </a>
                        {% endif %}
                        {% if student.twitter %}
                            <a href="{{ student.twitter }}">&#9675; Twitter </a>
                        {% endif %}
                        {% if student.github %}
                            <a href="{{ student.github }}">&#9675; Github </a>
                        {% endif %}
                        {% if student.bitbucket %}
                            <a href="{{ student.bitbucket }}">&#9675; Bitbucket </a>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<hr><div class="postdocs">
    <h3>Postdoctoral Fellows</h3>
    <div class="postdocs mdl-grid">
        {% for student in site.data.postdocs %}
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        {% if student.image %}
                            <img src="{{ student.image }}">
                        {% else %}
                            <img src="images/avatar-placeholder.png">
                        {% endif %}
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h4 class="student-name">{{ student.name }}</h4>
                        <p>
                        {% if student.home %}
                            <a href="{{ student.home }}">&#9675; Website </a>
                        {% endif %}
                        {% if student.scholar %}
                            <a href="{{ student.scholar }}">&#9675; Scholar </a> 
                        {% endif %}
                        {% if student.linkedin %}
                           <a href="{{ student.linkedin }}">&#9675; LinkedIn </a>
                        {% endif %}
                        {% if student.twitter %}
                            <a href="{{ student.twitter }}">&#9675; Twitter </a>
                        {% endif %}
                        {% if student.github %}
                            <a href="{{ student.github }}">&#9675; Github </a>
                        {% endif %}
                        {% if student.bitbucket %}
                            <a href="{{ student.bitbucket }}">&#9675; Bitbucket </a>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<hr><div class="past-students">
    <h3>Past Lab Members</h3>
    <div class="mdl-grid">
        {% for student in site.data.past_students %}
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                    </div>
                    <div class="mdl-cell mdl-cell--10-col past-student-info">
                        <h4 class="past-student-name">{{ student.name }}</h4>
                        {% if student.title %}
                            {{ student.title }},
                        {% endif %}
                        {% if student.company %}
                            {% if student.company_web %}
                                <span><a href="{{ student.company_web }}" style="color:black">{{ student.company }}</a></span>
                            {% else %}
                                <span>{{ student.company }}</span>
                            {% endif %}
                        {% endif %}
                        <p>
                        {% if student.home %}
                            <a href="{{ student.home }}"> &#9675; Website </a>
                        {% endif %}
                        {% if student.scholar %}
                            <a href="{{ student.scholar }}">&#9675; Scholar </a> 
                        {% endif %}
                        {% if student.linkedin %}
                           <a href="{{ student.linkedin }}">&#9675; LinkedIn </a>
                        {% endif %}
                        {% if student.twitter %}
                            <a href="{{ student.twitter }}">&#9675; Twitter </a>
                        {% endif %}
                        {% if student.github %}
                            <a href="{{ student.github }}">&#9675; Github </a>
                        {% endif %}
                        {% if student.bitbucket %}
                            <a href="{{ student.bitbucket }}">&#9675; Bitbucket </a>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
