---
layout: default
title: Projects
permalink: /projects.html
---

<h3> Active Projects</h3>
<div class="projects">
    {% for project in site.data.projects %}
        <div class="project">
            <h3 class="project-title"><a href="{{ project.link }}">{{ project.name }}</a></h3>
            <p>
            {% if project.sponsor %}
                {{ project.sponsor }} 
            {% endif %}
            {% if project.number %}
            	Grant #{{ project.number }}  
            {% endif %}
            {% if project.start_date %}
                ({{ project.start_date }} &#8211 {{ project.end_date }})
            {% endif %}
            </p>
            <p><img src="{{ project.image }}" style="border: 0px solid gray; float: left; margin: 16px" width=260px alt="{{ project.image_alt }}" href="{{ project.link }}" /></p>
            <div class="project-description">
                {{ project.description }}
            </div>
            <div>
            {% if project.referto %}
                <p> <h6> Example Publications: </h6> </p>
                <ul>
                    {% for reference in project.referto %}
                        {% for paper in site.data.papers %}
                            {% if paper.tag == reference %}
                                <li>
                                    {% if paper.url %}
                                        {{ paper.authors }}, <a href="{{ paper.url }}">{{ paper.title }}</a>, {{ paper.conference }}.
                                    {% else %}
                                        {{ paper.authors }}, "{{ paper.title }}", {{ paper.conference }}.
                                    {% endif %}
                                    {% if paper.extra_title %}
                                        (<a href="{{ paper.extra_url }}">{{ paper.extra_title }}</a>).
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

<h3> Recent Projects</h3>

<div class="projects">
    {% for project in site.data.past_projects %}
        <div class="project">
            <h3 class="project-title"><a href="{{ project.link }}">{{ project.name }}</a></h3>
            <p> {{ project.sponsor }} 
            {% if project.number %}
                Grant #{{ project.number }}  
            {% endif %}
            {% if project.start_date %}
                ({{ project.start_date }} &#8211 {{ project.end_date }})
            {% endif %}
            </p>
            <p><img src="{{ project.image }}" style="border: 0px solid gray; float: left; margin: 16px" loading="lazy" width=260px alt="{{ project.image_alt }}" href="{{ project.link }}" /></p>
            <div class="project-description">
                {{ project.description }}
            </div>
            <div>
            {% if project.referto %}
                <p> <h6> Example Publications: </h6> </p>
                <ul>
                    {% for reference in project.referto %}
                        {% for paper in site.data.papers %}
                            {% if paper.tag == reference %}
                                <li>
                                    {% if paper.url %}
                                        {{ paper.authors }}, <a href="{{ paper.url }}">{{ paper.title }}</a>, {{ paper.conference }}.
                                    {% else %}
                                        {{ paper.authors }}, "{{ paper.title }}", {{ paper.conference }}.
                                    {% endif %}
                                    {% if paper.extra_title %}
                                        (<a href="{{ paper.extra_url }}">{{ paper.extra_title }}</a>).
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

