---
layout: default
title: Students
permalink: /students
---

<div class="current-students">
    {% for student in site.data.students %}
        <div class="student mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                {% if student.image %}
                    <img src="{{ student.image }}">
                {% else %}
                    <img src="images/avatar-placeholder.png">
                {% endif %}
            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h4 class="student-name">{{ student.name }}</h4>
                <p class="student-description">
                    {{ student.description }}
                </p>
                {% if student.link %}
                    <a href="{{ student.link }}">Personal Website</a>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

<div class="past-students">
    <h2>Past Students</h2>

    <div class="demo-list-action mdl-list">
        {% for student in site.data.past_students %}
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                    {{ student.name }} at {{ student.company }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>
