---
layout: default
title: Students
permalink: /students
---

<div class="current-students">
    <div class="student mdl-grid">
        {% for student in site.data.students %}
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        {% if student.image %}
                            <img src="{{ student.image }}">
                        {% else %}
                            <img src="images/avatar-placeholder.png">
                        {% endif %}
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h4 class="student-name">{{ student.name }}</h4>
                        {% if student.link %}
                            <a href="{{ student.link }}">Personal Website</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<hr>

<div class="past-students">
    <h2>Past Students</h2>

    <div class="mdl-grid">
        {% for student in site.data.past_students %}
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                    </div>
                    <div class="mdl-cell mdl-cell--10-col past-student-info">
                        <h4 class="past-student-name">{{ student.name }}</h4>
                        <span class="past-student-company">{{ student.company }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
