.current-students {
    margin-bottom: 25px;
}

.past-students {
    margin-top: 25px;
}


.student {
    img {

    }

    .faculty-name {
        font-weight: 200;
    }

    .faculty-description {

    }

    margin: 25px 0;
}

.past-students {
    .past-student-name {
        margin-bottom: 0px;
    }

    .past-student-company {
        font-style: italic;
    }
}
